<!DOCTYPE html>
<html>
<head>
	<title>Socket.IO chat: %%%GROUPNAME_UPPERCASE%%%</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid">
		<div class="row nav-row">
			<nav class="col-xs-12 navbar navbar-default chat-navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">GRN Chat</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><h1>%%%GROUPNAME_UPPERCASE%%% Chat Room</h1></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log in<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Some Link</a></li>
									<li><a href="#">Some Link</a></li>
									<li><a href="#">Some Link</a></li>
									<li class="divider"></li>
									<li><a href="#">Some Link</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>		
		</div>
		<div class="row chat-row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<ul class="chat-messages-bin"></ul>
			</div>
		</div>
		<div class="row form-row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<form action="" class="form-horizontal chat-message-form">
					<div class="form-group" id="message-entry-form-group">
						<input autocomplete="off" type="text" class="form-control message-input" placeholder="Enter message here!" name="message-input" />
						<button class="btn btn-primary message-submit"><span class="glyphicon glyphicon-send"></span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
	<script src="../jquery/jquery-2.1.3.min.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../scripts/chat.js"></script>
	<script src="../color-gen/randomColor.min.js"></script>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"></script>
	<link rel="stylesheet" href="../styles/chat.css"></script>
	<script>
		var getUserData = function(){
			return "%%%USERDATA%%%";
		}
		var getGroup = function(){
			return "%%%GROUPNAME%%%";
		}
	</script>
</body>
</html>
